def time_mod(time, attempt) {(attempt == 1) ? time : (time + (attempt * (time / 2)))}
def memory_mod(memory, attempt) {(attempt == 1) ? memory : (memory + (attempt * (memory / 2)))}

process {
    executor = 'slurm'
    stageInMode = 'symlink'
    errorStrategy = 'retry'
    maxRetries = 5
    cache = 'lenient'

    withLabel: small_short {
        cpus = 1
        memory = { memory_mod(1.GB, task.attempt) } 
        time = { time_mod(5.minute, task.attempt) }
        queue = 'short'
        clusterOptions = '--account=vh83 --qos=shortq'
    }
    
    withLabel: small_1 {
        cpus = 1
        memory = { memory_mod(4.GB, task.attempt) } 
        time = { time_mod(30.minute, task.attempt) }
        queue = 'comp'
        clusterOptions = '--account=vh83 --qos=normal'
    }

    withLabel: small_2 {
        cpus = 2
        memory = { memory_mod(2.GB, task.attempt) } 
        time = { time_mod(1.hour, task.attempt) }
        queue = 'comp'
        clusterOptions = '--account=vh83 --qos=normal'
    }

    withLabel: medium_6h {
        cpus = 1
        memory = { memory_mod(16.GB, task.attempt) } 
        time = { time_mod(6.hour, task.attempt) }
        queue = 'comp'
        clusterOptions = '--account=vh83 --qos=normal'   
    }
    
    withLabel: big_6h {
        cpus = 1
        memory = { memory_mod(32.GB, task.attempt) } 
        time = { time_mod(6.hour, task.attempt) }
        queue = 'comp'
        clusterOptions = '--account=vh83 --qos=normal'   
    }
    
    withLabel: medium_1h {
        cpus = 1
        memory = { memory_mod(16.GB, task.attempt) } 
        time = { time_mod(1.hour, task.attempt) }
        queue = 'comp'
        clusterOptions = '--account=vh83 --qos=normal'   
    }

    withLabel: bwa {
        cpus = 12
        memory = { memory_mod(32.GB, task.attempt) } 
        time = { time_mod(12.hour, task.attempt) }
        queue = 'comp'
        clusterOptions = '--account=vh83 --qos=normal'    
    }

    withLabel: bwa_small {
        cpus = 4
        memory = { memory_mod(16.GB, task.attempt) } 
        time = { time_mod(2.hour, task.attempt) }
        queue = 'comp'
        clusterOptions = '--account=vh83 --qos=normal'    
    }

    withLabel: vardict {
        cpus = 6
        memory = { memory_mod(32.GB, task.attempt) } 
        time = { time_mod(12.hour, task.attempt) }
        queue = 'comp'
        clusterOptions = '--account=vh83 --qos=normal'    
    }

    withLabel: vep {
        cpus = 12
        memory = { memory_mod(64.GB, task.attempt) } 
        time = { time_mod(12.hour, task.attempt) }
        queue = 'comp'
        clusterOptions = '--account=vh83 --qos=normal'    
    }

    withLabel: gatk_unknown {
        cpus = 8
        memory = { memory_mod(32.GB, task.attempt) } 
        time = { time_mod(12.hour, task.attempt) }
        queue = 'comp'
        clusterOptions = '--account=vh83 --qos=normal'   
    }
    
    withLabel: small3h_6g {
        cpus = 8
        memory = { memory_mod(32.GB, task.attempt) } 
        time = { time_mod(12.hour, task.attempt) }
        queue = 'comp'
        clusterOptions = '--account=vh83 --qos=normal'   
    }


}

executor {
    name = 'slurm'
    queueSize = 200
    pollInterval = '30 sec'
}
