process {
    executor = 'slurm'
    stageInMode = 'symlink'
    errorStrategy = 'retry'
    maxRetries = 5
    cache = 'lenient'

    withName: runFASTQC {
        cpus = 2
        memory = 8.GB
        queue = 'comp'
        clusterOptions = '--account=vh83 --qos=normal'   
        time = '30m'
    }

    withName: createUnmappedUMIBam {
        cpus = 1
        memory = 14.GB
        queue = 'comp'
        clusterOptions = '--account=vh83 --qos=normal'   
        time = '6h'
    }
    
}

executor {
    name = 'slurm'
    queueSize = 200
    pollInterval = '30 sec'
}
