process {
    executor = 'local'
    stageInMode = 'symlink'
    errorStrategy = 'retry'
    maxRetries = 5
    cache = 'lenient'

    withLabel: small_1 {
        cpus = 1
    }

    withLabel: small_2 {
        cpus = 2
    }

    withLabel: vardict {
        cpus = 2
    }

}

executor {
    name = 'local'
    queueSize = 32
    pollInterval = '30 sec'
}
